.outer {
    position: relative;
    background-image: url("http://ghk.h-cdn.co/assets/cm/15/11/54ff70287538f-1-colorful-roses-xln.jpg");
    height: 400px;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
}
.outer::after{
    content: '';
    position: absolute;
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}
.rose{
    position: absolute;
    width: 60%;
    height: auto;
    color: white;
    text-align: center;
    background-color: red;
    bottom: 0px;
    text-transform: uppercase;
    z-index: 1;
    transform: translateY(100px);
    margin-left: 80px;
}
.move-up{
    transition: transform 0.3s ease;
    will-change: transform;
}
.outer:hover .move-up{
    transform: translateY(-180px);
}
.outer:hover::after{
    opacity: 0.1;
}
svg{
    width: 24px;
    height: 24px;
    position: absolute;
    left:0;
    top:0;
    transform: translate(13px,14px);
}
.fav-button{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #0ed80e;
    border-radius: 30px;
    right: 2%;
    bottom: 12%;
    border: none;
    font-size: xx-large;
    transition: transform 0.3s ease;
    will-change: transform;
}

.fav-button:hover{
    transform: rotate(135deg);
}
h1{
	color:red;
	text-transform:uppercase;
	font-family: Arial;
}
